*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#vh-blocchi{
    height: 92vh;
    background-color: black;
}

#vh-strumenti{
    height: 8vh;
    background-color: #222222;
    position: relative;
}

.angolo-superiore{
    display: flex;
    justify-content: center;
}

.angolo-destro{
    position: absolute;
    background-color: #4A4A4A;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.maximize{
    top: 6px;
    right: 15px;
    padding: 5px 5px 5px 5px;
}

.speaker-view{
    top: 6px;
    right: 56px;
    width: 121px;
    padding: 2px 2px 2px 2px;
    color: white;
}

.container{
    max-width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-container{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}

.profilo{
    width: calc((100% / 7) - 1%);
    height: calc(100% / 5);
    margin-bottom: 1%;
}

img{
    width: 100%;
    display: block;
}

.img{
    position: relative;
}

.nome{
    position: absolute;
    display: flex;
    background-color: #69747D;
    bottom: 5px;
    left: 3px;
    opacity: .9;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.nome span{
    color: white;
    padding: 3px;
    font-weight: bold;
}

/********* strumenti ************/

.barra{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.barra div{
    padding: 0 5px 0 5px;
}

.interazione{
    display: flex;
    color: white;
}

.dir-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dir-column span{
    padding-top: 5px;
}

.dir-column i{
    transition: 1.25s;
}

.dir-column i:hover{
    transform: scale(2);
    color: chocolate;
    background-color: white;
    border-radius: 5px;
}

i{
    color: white;
    font-size: 13px;
    cursor: pointer;
}

.fa-angle{
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.fa-angle-up{
    font-size: 13px;
    padding: 0 7px 0 7px;
}

.green i{
    color: green;
}

button{
    height: 100%;
    padding: 0 10px 0 10px;
    color: red;
    font-weight: bold;
    background-color: #4A4A4A;
    transition: 0;
    border: none;
}

button:active{
    background-color: #343434;
}


